/* src/App.css */
.layout {
  display: flex;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #007BFF;
}
.app {
  display: flex;
}
/* App.css */
.app {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide (e.g., tablets) */
}

@media screen and (max-width: 576px) {
  /* Styles for screens up to 576px wide (e.g., mobile phones) */
}
